*.fls
*.aux
*.bbl
*.bcf
*.blg
*.fdb_lab
*.log
*.nav
*.out
*.snm
*.toc
*.xml
*.gz
*.fdb_latexmk
*.vrb
Recurrent_Neural_Network/Presentation.aux
Recurrent_Neural_Network/Presentation.fls
Reinforcement_Learning/Presentation.fls
Reinforcement_Learning/Presentation.aux
*.csv